{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "indent": [2, 2],
    "quotes": [2, "single"],
    "jsx-quotes": [1, "prefer-single"],
    "no-lonely-if": 0,
    "no-underscore-dangle": 0,
    "global-require": 0,
    "import/prefer-default-export": 0,
    "import/no-named-as-default": 0,
    "jsx-a11y/href-no-hash": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
    "react/require-extension": 0,
  }
}
